#login {
    float: right;
    color: white;
}

#login:hover {
    cursor: pointer;
    text-decoration: underline;
}

#logsite {
    z-index: 1;
    height: 100%;
    width: 100%;
    background: #080808c7;
    position: absolute;
    padding-top: 17%;
}

#logwind {
    box-shadow: 0 2px 4px 0 rgb(34, 36, 38),
        0 2px 10px 0 rgba(37, 34, 38, 0.97);
    z-index: 2;
    background-color: white;
    height: 215px;
    width: 294px;
    margin: auto;
}

.header {
    background-color: #30a2f0;
    z-index: 0;
}

.submit {
    float: right;
    background-color: #30a2f0;
    color: white;
    border: none;
    width: 112px;
}

input {
    float: right;
}