<% include common/header.ejs %>
<% include common/menu.ejs %>
<div style="color: red; text-decoration: underline; font-size: 25px">
    Какие контакты ВК забанили дурашка
</div>
<% include common/footer.ejs %>