<% include common/header.ejs %>

<% include common/menu.ejs %>

<div style="display: inline-block">
    <div id="profile-head">
        <span id="profile-foto"></span>
        <span id="profile-name">This is temporary main page</span>
        <div id="profile-country">All is well</div>
    </div>

    <div id="profile-body">(Page body)
    </div>
</div>

<% include common/footer.ejs %>