<% include common/header.ejs %>
<% include common/menu.ejs %>

<div style="color: rgb(94, 7, 72); text-decoration: underline; font-size: 25px">
    Какие пропозиції, ты не зарегистрирован дурашка
</div>
<% include common/footer.ejs %>