<% include common/header.ejs %>
<% include common/menu.ejs %>

<div class="offerslabel">
    Топ найвигідніших продажів.
</div>
<div class="row" id="sales">
    <div class="card">
        <img class="card-img-top" src="../images/brainOfPanel1.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Мозок</h5>
            <p class="card-text">Знайдіть найвигіднішого продавця мозку.
            </p>
            <a href="/offers-brain" class="btn btn-primary">Вперед</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../images/leftKidneyOfPanel1.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ліва нирка</h5>
            <p class="card-text">Ліва нирка користується неабиякою популярністю в продавців.
            </p>
            <a href="/offers-leftkidney" class="btn btn-primary">Вперед</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../images/rightKidneyOfPanel1.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Права нирка</h5>
            <p class="card-text">Права нирка - це чудова нагода показати, на що ти здатен.
            </p>
            <a href="/offers-rightkidney" class="btn btn-primary">Вперед</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../images/leftLungOfPanel1.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ліва легеня</h5>
            <p class="card-text">Найближча до сердечка, і отже, до зараха.
            </p>
            <a href="/offers-leftlung" class="btn btn-primary">Вперед</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../images/rightLungOfPanel1.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Права легеня</h5>
            <p class="card-text">Стане прикрасою Вашого тіла.
            </p>
            <a href="/offers-rightlung" class="btn btn-primary">Вперед</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../images/stomachOfPanel1.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Шлунок</h5>
            <p class="card-text">Цінуйте ваш шлунок і тих, хто його продає.
            </p>
            <a href="/offers-stomach" class="btn btn-primary">Вперед</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../images/liverOfPanel1.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Печінка</h5>
            <p class="card-text">Знадобиться Вам після здачі проекта з програмування.
            </p>
            <a href="/offers-liver" class="btn btn-primary">Вперед</a>
        </div>
    </div>
</div>
<% include common/footer.ejs %>