<% include common/header.ejs %>
<% include common/menu.ejs %>
<div id="profile-head">
    <span id="profile-foto"></span>
    <span id="profile-name">Profile name</span>
    <div id="profile-country">Profile country</div>
</div>

<div id="profile-body">(Profile body)
</div>
<% include common/footer.ejs %>