<% include common/header.ejs %>
<% include common/menu.ejs %>
<div id="usercontent"></div>
<!--<div id="profile-head">
    <span id="profile-foto"></span>
    <span id="profile-name">Profile name</span>
    <div id="profile-country">Profile country</div>
</div>

<div id="profile-body">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <img src="../images/contour.png" width="70%">
            <br>
            <button id="edit">Редагувати</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
        Дані профіля
        <div style="border: 2px solid black">
            <ul>
                <li id="gender" style="text-align: left">Стать:kek</li>
                <li id="age" style="text-align: left">Вік:-10</li>
                <li id="bloodtype" style="text-align: left">Група крові:5</li>
                <li id="resus" style="text-align: left">Резус-фактор:/</li>
            </ul>
        </div>
    </div>
</div>
-->
<% include common/footer.ejs %>