<% include common/header.ejs %>
<% include common/menu.ejs %>
<div class="col-*-7" style="display: inline-block; height: auto; padding: 15px">
    <p>Знайти користувача:</p>
    <input type="text" placeholder="Знайти">
</div>

<div id="userlist-o"></div>
<% users.showUserList(userList) %>
<% include common/footer.ejs %>