<% include common/header.ejs %>
<% include common/menu.ejs %>
<div class="col-*-7" style="display: inline-block; height: auto; padding: 15px">
    <p>Знайти користувача:</p>
    <input type="text" placeholder="Знайти">
</div>
<div id="userlist">
    <div class="oneuser">
        <div style="width:28%">
            <img src="../images/anon.jpg" style="width:100%">
        </div>
        <div style="width:72%">
            <p>ChewBacca</p>
            <hr>
            <div style="display:flex">

                <img src="../images/brainOfPanel2.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/rightLungOfPanel2.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/leftLungOfPanel1.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/rightKidneyOfPanel1.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/leftKidneyOfPanel2.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/liverOfPanel2.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/stomachOfPanel1.png" style="width:12.5%; height: 12.5%;">
            </div>

        </div>
    </div>
    <div class="oneuser">
        <div style="width:28%">
            <img src="../images/anon.jpg" style="width:100%">
        </div>
        <div style="width:72%">
            <p>Blockbaster</p>
            <hr>
            <div style="display:flex">

                <img src="../images/brainOfPanel2.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/rightLungOfPanel1.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/leftLungOfPanel1.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/rightKidneyOfPanel1.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/leftKidneyOfPanel2.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/liverOfPanel1.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/stomachOfPanel1.png" style="width:12.5%; height: 12.5%;">
            </div>
        </div>
    </div>
    <div class="oneuser">
        <div style="width:28%">
            <img src="../images/anon.jpg" style="width:100%">
        </div>
        <div style="width:72%">
            <p>Superman</p>
            <hr>
            <div style="display:flex">

                <img src="../images/brainOfPanel2.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/rightLungOfPanel2.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/leftLungOfPanel1.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/rightKidneyOfPanel1.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/leftKidneyOfPanel1.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/liverOfPanel1.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/stomachOfPanel2.png" style="width:12.5%; height: 12.5%;">
            </div>
        </div>
    </div>
    <div class="oneuser">
        <div style="width:28%">
            <img src="../images/anon.jpg" style="width:100%">
        </div>
        <div style="width:72%">
            <p>RadioBot</p>
            <hr>
            <div style="display:flex">

                <img src="../images/brainOfPanel2.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/rightLungOfPanel2.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/leftLungOfPanel2.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/rightKidneyOfPanel1.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/leftKidneyOfPanel1.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/liverOfPanel2.png" style="width:12.5%; height: 12.5%;">

                <img src="../images/stomachOfPanel2.png" style="width:12.5%; height: 12.5%;">
            </div>
        </div>
    </div>
    <div class="oneuser">
        <div style="display: flex ">
            <div style="width:28%">
                <img src="../images/anon.jpg" style="width:100%">
            </div>
            <div style="width:72%">
                <p>Launcher</p>
                <hr>
                <div style="display:flex">

                    <img src="../images/brainOfPanel1.png" style="width:12.5%; height: 12.5%;">

                    <img src="../images/rightLungOfPanel1.png" style="width:12.5%; height: 12.5%;">

                    <img src="../images/leftLungOfPanel2.png" style="width:12.5%; height: 12.5%;">

                    <img src="../images/rightKidneyOfPanel1.png" style="width:12.5%; height: 12.5%;">

                    <img src="../images/leftKidneyOfPanel1.png" style="width:12.5%; height: 12.5%;">

                    <img src="../images/liverOfPanel2.png" style="width:12.5%; height: 12.5%;">

                    <img src="../images/stomachOfPanel1.png" style="width:12.5%; height: 12.5%;">
                </div>
            </div>
        </div>
    </div>
</div>

<% include common/footer.ejs %>