<% include common/header.ejs %>
<% include common/menu.ejs %>
<a href="/offers" style="position: absolute; right: 5%">Назад до пропозицій</a>
<div class="col-*-7" style="display: inline-block; height: auto; padding: 15px">
    <p>Знайти користувача:</p>
    <input type="text" placeholder="Знайти">
</div>
<div id="userlist"></div>

<% include common/footer.ejs %>