     <p style="background-color: #30a2f0; color:  white; text-align: center; padding-top: 5px; padding-bottom: 5px">
         <b>Редагування</b></p>
     <p><input name="organ" type="radio" value="organ1" id="organ1"> Мозок</p>
     <div id="organRed1" style="display: none;">
         <p style="padding-left: 20px"><input name="organ1" type="radio" value="notForSale" id="notForSale1"> Не
             продається</p>
         <p style="padding-left: 20px"><input name="organ1" type="radio" value="forSale" id="forSale1"> Продається</p>
         <div id="twoFields1" style="display: none; padding-left: 30px">
             <p>Введіть ціну</p>
             <p style="margin-left: 5px"><input></p>
         </div>
         <p style="padding-left: 20px"><input name="organ1" type="radio" value="sold" id="sold1"> Продано</p>
     </div>

     <hr>

     <p><input name="organ" type="radio" value="organ2" id="organ2"> Ліва легеня</p>

     <div id="organRed2" style="display: none">
         <p style="padding-left: 20px"><input name="organ2" type="radio" value="notForSale" id="notForSale2"> Не
             продається</p>
         <p style="padding-left: 20px"><input name="organ2" type="radio" value="forSale" id="forSale2"> Продається</p>
         <div id="twoFields2" style="display: none; padding-left: 30px">
             <p>Введіть ціну</p>
             <p style="margin-left: 5px"><input></p>
         </div>
         <p style="padding-left: 20px"><input name="organ2" type="radio" value="sold" id="sold2"> Продано</p>
     </div>

     <hr>

     <p><input name="organ" type="radio" value="organ3" id="organ3"> Права легеня</p>

     <div id="organRed3" style="display: none">
         <p style="padding-left: 20px"><input name="organ3" type="radio" value="notForSale" id="notForSale3"> Не
             продається</p>
         <p style="padding-left: 20px"><input name="organ3" type="radio" value="forSale" id="forSale3"> Продається</p>
         <div id="twoFields3" style="display: none; padding-left: 30px">
             <p>Введіть ціну</p>
             <p style="margin-left: 5px"><input></p>
         </div>
         <p style="padding-left: 20px"><input name="organ3" type="radio" value="sold" id="sold3"> Продано</p>
     </div>

     <hr>

     <p><input name="organ" type="radio" value="organ4" id="organ4"> Печінка</p>

     <div id="organRed4" style="display: none">
         <p style="padding-left: 20px"><input name="organ4" type="radio" value="notForSale" id="notForSale4"> Не
             продається</p>
         <p style="padding-left: 20px"><input name="organ4" type="radio" value="forSale" id="forSale4"> Продається</p>
         <div id="twoFields4" style="display: none; padding-left: 30px">
             <p>Введіть ціну</p>
             <p style="margin-left: 5px"><input></p>
         </div>
         <p style="padding-left: 20px"><input name="organ4" type="radio" value="sold" id="sold4"> Продано</p>
     </div>

     <hr>

     <p><input name="organ" type="radio" value="organ5" id="organ5"> Ліва нирка</p>

     <div id="organRed5" style="display: none">
         <p style="padding-left: 20px"><input name="organ5" type="radio" value="notForSale" id="notForSale5"> Не
             продається</p>
         <p style="padding-left: 20px"><input name="organ5" type="radio" value="forSale" id="forSale5"> Продається</p>
         <div id="twoFields5" style="display: none; padding-left: 30px">
             <p>Введіть ціну</p>
             <p style="margin-left: 5px"><input></p>
         </div>
         <p style="padding-left: 20px"><input name="organ5" type="radio" value="sold" id="sold5"> Продано</p>
     </div>

     <hr>

     <p><input name="organ" type="radio" value="organ6" id="organ6"> Права нирка</p>

     <div id="organRed6" style="display: none">
         <p style="padding-left: 20px"><input name="organ6" type="radio" value="notForSale" id="notForSale6"> Не
             продається</p>
         <p style="padding-left: 20px"><input name="organ6" type="radio" value="forSale" id="forSale6"> Продається</p>
         <div id="twoFields6" style="display: none; padding-left: 30px">
             <p>Введіть ціну</p>
             <p style="margin-left: 5px"><input></p>
         </div>
         <p style="padding-left: 20px"><input name="organ6" type="radio" value="sold" id="sold6"> Продано</p>
     </div>

     <hr>

     <p><input name="organ" type="radio" value="organ7" id="organ7"> Шлунок</p>

     <div id="organRed7" style="display: none">
         <p style="padding-left: 20px"><input name="organ7" type="radio" value="notForSale" id="notForSale7"> Не
             продається</p>
         <p style="padding-left: 20px"><input name="organ7" type="radio" value="forSale" id="forSale7"> Продається</p>
         <div id="twoFields7" style="display: none; padding-left: 30px">
             <p>Введіть ціну</p>
             <p style="margin-left: 5px"><input></p>
         </div>
         <p style="padding-left: 20px"><input name="organ7" type="radio" value="sold" id="sold7"> Продано</p>
     </div>
     <hr>
     <p><input type="submit" value="Зберегти"></p>