<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8" />
    <title>Головна</title>
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css" />


</head>



<body style="font-family: Ubuntu;">

    <div style="width: 400px">

        <div style="display: flex ">
            <div style="width:28%">
                <img src="../images/anon.jpg" style="width:100%">
            </div>

            <div style="width:72%">
                <p style="margin-left: 5px;">Username</p>
                <hr>
                <div style="display:flex">
                    <img src="../images/brainOfPanel1.png" style="width:12.5%; height: 12.5%;">
                    <img src="../images/heartOfPanel1.png" style="width:12.5%; height: 12.5%;">
                    <img src="../images/rightLungOfPanel1.png" style="width:12.5%; height: 12.5%;">
                    <img src="../images/leftLungOfPanel1.png" style="width:12.5%; height: 12.5%;">
                    <img src="../images/rightKidneyOfPanel1.png" style="width:12.5%; height: 12.5%;">
                    <img src="../images/leftKidneyOfPanel1.png" style="width:12.5%; height: 12.5%;">
                    <img src="../images/liverOfPanel1.png" style="width:12.5%; height: 12.5%;">
                    <img src="../images/stomachOfPanel1.png" style="width:12.5%; height: 12.5%;">
                </div>
            </div>
        </div>

    </div>

</body>

</html>