</div>
</div>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!--Bootsrap JavaScript -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>

<!--Own JavaScript -->
<script src="../../grunted-main.js"></script>t>
<script src="../../scripts-frontend/api.js"></script>
<script src="../../scripts-frontend/edit-profile.js"></script>
<script src="../../scripts-frontend/loginwindow.js"></script>
<script src="../../scripts-frontend/menu.js"></script>
<script src="../../scripts-frontend/fotowindow.js"></script>
<script src="../../scripts-frontend/editWindow.js"></script>
<script src="../../scripts-frontend/users.js"></script>
</body>

</html>