<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8" />
    <title><%=pageTitle %></title>
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="/main.css" />
    <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body style="font-family: Ubuntu;">
    <div id="pro-logsite">
    </div>
    <div class="header">
        <a href="/"><img src="../images/logot.png" id="logo"></a>
        <span class="hidden-xs" style="font-size: 15px">Ми знайдемо тих, хто знайде Вам ціну</span>
        <span id="login" class="glyphicon glyphicon-off">
        </span>
    </div>