<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8" />
    <title>Головна</title>
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="/main.css" />
</head>

<body style="font-family: Ubuntu;">
    <div id="pro-logsite">
    </div>
    <div class="header">
        <img src="../images/logot.png" style="height: 132px;">
        <span>description</span>
        <span id="login">Увійти
        </span>
    </div>