<div style="display: flex">
    <div id="nav-drawer" style="width: 265px; display: inline-block" data-region="drawer"
        class="d-print-none moodle-has-zindex " aria-hidden="false" tabindex="-1">
        <nav class="list-group">
            <a class="list-group-item list-group-item-action active" href="https://distedu.ukma.edu.ua/" data-key="home"
                data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="1" data-nodetype="1"
                data-collapse="0" data-forceopen="1" data-isactive="1" data-hidden="0" data-preceedwithhr="0">
                <div class="m-l-0">
                    <div class="media">
                        <span class="media-left">
                            <i class="icon fa fa-home fa-fw " aria-hidden="true"></i>
                        </span>
                        <span class="media-body font-weight-bold">Головна</span>
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://distedu.ukma.edu.ua/my/" data-key="myhome"
                data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="70" data-nodetype="0"
                data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0"
                data-parent-key="home">
                <div class="m-l-0">
                    <div class="media">
                        <span class="media-left">
                            <i class="icon fa fa-tachometer fa-fw " aria-hidden="true"></i>
                        </span>
                        <span class="media-body ">Профіль</span>
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action "
                href="https://distedu.ukma.edu.ua/calendar/view.php?view=month" data-key="calendar"
                data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="60" data-nodetype="0"
                data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0"
                data-parent-key="1">
                <div class="m-l-0">
                    <div class="media">
                        <span class="media-left">
                            <i class="icon fa fa-calendar fa-fw " aria-hidden="true"></i>
                        </span>
                        <span class="media-body ">Новини</span>
                    </div>
                </div>
            </a>
            <div class="list-group-item" data-key="mycourses" data-isexpandable="1" data-indent="0" data-showdivider="0"
                data-type="0" data-nodetype="1" data-collapse="0" data-forceopen="1" data-isactive="0" data-hidden="0"
                data-preceedwithhr="0" data-parent-key="home">
                <div class="m-l-0">
                    <div class="media">
                        <span class="media-left">
                            <i class="icon fa fa-graduation-cap fa-fw " aria-hidden="true"></i>
                        </span>
                        <span class="media-body">Пропозиції</span>
                    </div>
                </div>
            </div>
            <a class="list-group-item list-group-item-action " href="https://distedu.ukma.edu.ua/course/view.php?id=6"
                data-key="6" data-isexpandable="1" data-indent="1" data-showdivider="0" data-type="20" data-nodetype="1"
                data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0"
                data-parent-key="mycourses">
                <div class="m-l-1">
                    <div class="media">
                        <span class="media-left">
                            <i class="icon fa fa-graduation-cap fa-fw " aria-hidden="true"></i>
                        </span>
                        <span class="media-body ">Мої контакти</span>
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://distedu.ukma.edu.ua/course/view.php?id=144"
                data-key="144" data-isexpandable="1" data-indent="1" data-showdivider="0" data-type="20"
                data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0"
                data-preceedwithhr="0" data-parent-key="mycourses">
                <div class="m-l-1">
                    <div class="media">
                        <span class="media-left">
                            <i class="icon fa fa-graduation-cap fa-fw " aria-hidden="true"></i>
                        </span>
                        <span class="media-body ">Карта світу</span>
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://distedu.ukma.edu.ua/course/view.php?id=96"
                data-key="96" data-isexpandable="1" data-indent="1" data-showdivider="0" data-type="20"
                data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0"
                data-preceedwithhr="0" data-parent-key="mycourses">
                <div class="m-l-1">
                    <div class="media">
                        <span class="media-left">
                            <i class="icon fa fa-graduation-cap fa-fw " aria-hidden="true"></i>
                        </span>
                        <span class="media-body ">Взаємодії</span>
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action " href="https://distedu.ukma.edu.ua/course/view.php?id=55"
                data-key="55" data-isexpandable="1" data-indent="1" data-showdivider="0" data-type="20"
                data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0"
                data-preceedwithhr="0" data-parent-key="mycourses">
                <div class="m-l-1">
                    <div class="media">
                        <span class="media-left">
                            <i class="icon fa fa-graduation-cap fa-fw " aria-hidden="true"></i>
                        </span>
                        <span class="media-body ">Ще що-небудь</span>
                    </div>
                </div>
            </a>

        </nav>
    </div>
    <div style="display: inline-block; width: 100%">